/*--Estislos CSS para mi página personal--*/
html{
    margin: 2%;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 2%;
    padding: 0;
    line-height: 1.5;
    background-color: #E5E5E5;
    font-size: 1.3rem;
}

header{
    background: #000000;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
    size: 10px;
}

nav{
    text-decoration: underline;
    text-decoration-color: rebeccapurple;
    text-decoration-thickness: 2px;
}

/* Enlaces en el nav -Mi intención es que los enlaces en el nav no cambien de color al ser consultados*/
nav a{
    color: #FFFFFF;
    text-decoration: none;
}

/* Cuando el enlace ha sido visitado */
nav a:visited{
    color:#FFFFFF
}

nav a:hover{
    color: #FFFFFF;
}

.title{
    text-align:center;
    color:rebeccapurple;
    font-size: 5rem;
}

.subtitle{
    font-size: 1.7rem;
    color: black;
    text-align: center;
    background-color: rgb(202, 180, 224);
    padding: 15px 15px;
    border-radius: 5px;
}



h2{
    color:rebeccapurple;
    font-size: 2rem;
}

.presentation::first-letter{
    font-size: 2rem;
    color: rebeccapurple;
    font-weight: bold;
}

.presentation{
    text-align: justify;
    padding-top: 30px;
}

p{
    font-size: 1.3rem;
}
nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    color:#FFFFFF;
    text-decoration: none;
}

section{
    padding: 2px;
    margin-bottom: 0%;
}

.foto-sobre-mi {
    float:inline-start;
    width: 10%; /* Ajusta el tamaño de la imagen */
    height: 10%; /* Mantiene las proporciones originales */
    border: 3px solid #000000; /* Agrega un borde negro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Agrega sombra */
    margin-right: 2%;
    max-width: 100%;
  }

h1 h2 {
    text-align: justify;
}

.social-icons{
    align-items:end;
    width: 150px;
    height: auto;
    float:inline;
    vertical-align: middle;
}

.social-icons2{
    align-items:end;
    width: 150px;
    height: auto;
    float:inline;
    vertical-align: middle;
    margin-left: -1%;
}

.contacto{
    text-align: right;
}

footer{
    text-align: center;
    padding: 10px;
    background:#000000  ;
    color:#FFFFFF;
}
